body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Balsamiq Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h1,
.h1 {
  font-size: 4rem;
  font-family: 'Balsamiq Sans';
}

h2,
.h2 {
  font-size: 3rem;
  font-family: 'Balsamiq Sans';
}

.colum{
  padding-left: 0;
  padding-right: 0;
}

.jumbotr{
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-top: 20px;
  text-align: center;
} */
